@model List<Microsoft.AspNetCore.Identity.IdentityUser>

@{
    ViewData["Title"] = "All Users";
}

<h1>User List</h1>

<div class="table">
    <table class="table jumbotron">
        <thead>
            <tr>
                <th>Email</th>
                <th>Phone Number</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var user in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => user.Email)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => user.PhoneNumber)
                    </td>
                    <td>
                        <div class="form-inline">
                            <form asp-controller="User" asp-action="EditUser" method="get">
                                <input type="hidden" name="Id" value="@user.Id" />
                                <input class="btn btn-secondary" type="submit" value="Edit" />
                            </form>

                            <form asp-Controller="User" asp-action="DeleteUser" method="post">
                                <input type="hidden" name="Id" value="@user.Id"/>
                                <input class="btn btn-secondary" type="submit" value="Delete"/>
                            </form>
                        </div>


                    </td>
                </tr>
            }
        </tbody>

    </table>
    <form asp-controller="User" asp-action="CreateUser" method="get">
        <input class="btn btn-primary" type="submit" value="Create User"/>
    </form>
</div>

