@model IEnumerable<OddballStore.Models.User>

@{
    ViewData["Title"] = "All Users";
}

<h1>User List</h1>

<div class="table">
    <table class="table jumbotron">
        <thead>
            <tr>
                <th>Username</th>
                <th>Email</th>
                <th>Phone</th>
            </tr>
        </thead>
        <tbody>

        </tbody>
    </table>
</div>

