@model List<CartItem>;
@{
    ViewData["Title"] = "Cart";
}

<div class="text-center">
    <h1 class="display-4">Cart</h1>
</div>
<div class="container-fluid">
    <div class="row">
        @foreach (var cartItem in Model)
        {
            <div class="divBackground col-lg-3 d-flex flex-column text-center shadow-sm p-4 mb-4" height="700px">
                <img src="~/images/@Html.DisplayFor(modelItem => cartItem.Item.Thumbnail)" class="img-thumbnail mx-auto" height="75px" width="75px" /><br />
                Name:<br />
                @Html.DisplayFor(modelItem => cartItem.Item.Name)<br /><br />
                Description:<br />
                @Html.DisplayFor(modelItem => cartItem.Item.Description)<br /><br />
                Price:<br />
                @Html.DisplayFor(modelItem => cartItem.Item.Price)<br /><br />
                <div class="mx-auto align-self-end">
                    <form method="post">
                        <input type="hidden" id="action" value="Quantity" />
                        <input class="text-center" type="number" name="quantityNum" value="@Html.DisplayFor(modelItem => cartItem.Quantity)" />
                        <input type="submit" value="Update" class="btn-block" />
                    </form>
                    <br />
                    <form method="post">
                        <input type="hidden" id="action" value="Delete" />
                        <input type="submit" value="Delete" class="btn-block" />
                    </form>
                </div>
            </div>
        }
    </div>
</div>
<br />
<br />

<div class="divBackground padding" height="700px">
    Subtotal: @*@Html.DisplayFor(modelItem => cart.QuantCost)*@<br />
    Tax: N/A<br />
    Total: N/A<br /><br />
    <form method="Post" class="alignRight">
        <input type="hidden" action="Checkout" />
        <input type="submit" value="Checkout" class="btn-block" />
    </form>
</div>
