@{
    ViewData["Title"] = "Cart";
}

<div class="text-center">
    <h1 class="display-4">Cart</h1>
</div>
@*Other Div class = divBackground2*@

    @*@foreach (var cart in Model)
    {*@
        <div class="divBackground col-lg-3 d-flex flex-column text-center shadow-sm p-4 mb-4" height="700px">
            <img src="~/images/@* @Html.DisplayFor(modelItem => cart.Thumbnail) *@" class="img-thumbnail mx-auto" height="75px" width="75px" /><br />
            Name:   @*@Html.DisplayFor(modelItem => cart.Name)*@<br />
            Price:  @*@Html.DisplayFor(modelItem => cart.IndividualCost)*@<br /><br />
            <div class="mx-auto align-self-end">
                <form method="post">
                    <input type="hidden" id="action" value="quantity" />
                    <input type="number" name="quantityNum"/>
                    <input type="submit" value="Update" class="btn-block" />
                </form>
                <br />
                <form method="post">
                    <input type="hidden" id="action" value="delete" />
                    <input type="submit" value="Delete" class="btn-block" />
                </form>
            </div>
        </div>

    @*}*@
    <br /><br />
    
    <div class="divBackground padding" height="700px">
        Subtotal: @*@Html.DisplayFor(modelItem => cart.QuantCost)*@<br />
        Tax: N/A<br />
        Total: N/A<br /><br />
        <form method="post" class="alignRight">
            <input type="hidden" id="action" value="checkout" />
            <input type="submit" value="Checkout" class="btn-block" />
        </form>
    </div>