@{
    ViewData["Title"] = "Checkout";
}

<div class="text-center">
    <h1 class="display-4">Checkout</h1>
</div>
<div class="divBackground2 height="700px">
    <p>This is the checkout page.</p>
</div>