@model OddballStore.Models.User
@using Microsoft.AspNetCore.Identity;
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome To Oddball’s Oddities</h1>
</div>
<div>
    <br />
    <br />
    <p>Default page nothing here. Look Away!!</p>

</div>