@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome To Oddball’s Oddities</h1>
</div>
<div>
    <br />
    <br />
    <p>Shop from a wide variety of items.</p>
    <br />
    <br />
    <button><a asp-controller="Item" asp-action="Index">Admin Management Tools</a></button>
</div>