@model OddballStore.Models.User
@using Microsoft.AspNetCore.Identity;
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome To Oddball’s Oddities</h1>
</div>
<div>
    <br />
    <br />
    <p>Shop from a wide variety of items.</p>
    <br />
    @if (SignInManager.IsSignedIn(User))
    {
        IdentityUser currentUser = await UserManager.GetUserAsync(User);
        var userRoles = await UserManager.GetRolesAsync(currentUser);
        if (userRoles.Contains("Admin"))
        {
            <button><a asp-controller="Item" asp-action="Index">Admin Management Tools</a></button>
        }
    }
    else
    {

        <p>Remember to login!</p>
    }

</div>