@model OddballStore.Models.User
@using Microsoft.AspNetCore.Identity;
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

@{
    ViewData["Title"] = "Profile";
}

@if (SignInManager.IsSignedIn(User))
{

    IdentityUser currentUser = await UserManager.GetUserAsync(User);

    <h1 class="display-1">Profile</h1>

    <div class="jumbotron">
        <h3 class="display-4">Edit User Information</h3>
        <form asp-controller="HomeController" asp-action="UpdateProfile" method="post">
            <div class="form-group">
                <label asp-for="Email">Email: </label>
                <input type="text" value="@currentUser.Email" class="form-control" disabled/>
            </div>

            <div class="form-group">
                <label asp-for="PhoneNumber">Phone: </label>
                <input type="text" value="@currentUser.PhoneNumber" class="form-control" disabled />
            </div>

        </form>
    </div>

    var userRoles = await UserManager.GetRolesAsync(currentUser);

    if (userRoles.Contains("Admin"))
    {
        <div class="jumbotron">
            <h3 class="display-4">Admin</h3>
            <form asp-area="" asp-controller="Item" asp-action="Index" method="post">
                <div class="form-group">
                    <input type="submit" value="Edit Store Items"  class="btn btn-outline-dark" />
                    
                </div>
            </form>

            <form asp-area="" asp-controller="User" asp-action="AllUsers" method="post">
                <input type="submit" value="Edit User List" class="btn btn-outline-dark" />
            </form>
        </div>
    }


}
else
{

    <p>Begone</p>
}
