@model OddballStore.Models.User
@using Microsoft.AspNetCore.Identity;
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

@{
    ViewData["Title"] = "Profile";
}

@if (SignInManager.IsSignedIn(User))
{

    IdentityUser currentUser = await UserManager.GetUserAsync(User);

    <h1>Profile</h1>

    <h3>Edit User Information</h3>

    <div class="jumbotron-fluid">
        <form asp-controller="HomeController">
            <div class="form-group">

                <label asp-for="Email">Email: </label>
                <input type="text" value="@currentUser.Email" class="form-control" />

            </div>
            <div class="form-group">
                <label asp-for="UserName">Username: </label>
                <input type="text" value="@currentUser.UserName" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="PhoneNumber">Phone: </label>
                <input type="text" value="@currentUser.PhoneNumber" class="form-control" />
            </div>

            <div class="form-group">
                <input type="submit" value="Submit" />
            </div>

        </form>
    </div>

    var userRoles = await UserManager.GetRolesAsync(currentUser);

    if (userRoles.Contains("Admin"))
    {
        <form asp-area="" asp-controller="Item" asp-action="Index" method="post">
            <input type="submit" value="Edit Store Items" />
        </form>
    }


}
else
{

    <p>Begone</p>
}
