@model OddballStore.Models.User
@using Microsoft.AspNetCore.Identity;
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

@{
    ViewData["Title"] = "Profile";
}

@if (SignInManager.IsSignedIn(User))
{
   
    IdentityUser currentUser = await UserManager.GetUserAsync(User);
   
    <p></p>
    <p>@currentUser.PasswordHash</p>

    <form asp-controller="HomeController">
        <p>
            <label asp-for="Email">Email: </label>
            <input type="text" value="@currentUser.Email" />
        </p>
        <p>
            <label asp-for="UserName">Username: </label>
            <input type="text" value="@currentUser.UserName" />
        </p>
        <p>
            <label asp-for="PhoneNumber">Phone: </label>
            <input type="text" value="@currentUser.PhoneNumber" />
        </p>


    </form>
}
else
{

}
