body {
    display: block;
}

header {
    background-color: white;
}

a.navbar-brand {
    color: black;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.border-top {
    border-top: 1px solid #e5e5e5;
}
.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

html {
    position: relative;
    min-height: 100%;
}

nav {
    border-bottom: 1px solid black;
}

body {
    margin-bottom: 60px;
    background-color: black;
    background-image: url('../images/background.png');
    background-repeat: no-repeat;
    background-size: cover;
}

h1 {
    color: white;
}

.alignRight {
    margin-left: auto;
    width: 100px;
}

.padding {
    padding: 10px;
}

.divBackground2 {
    background-color: white;
    border-radius: 25px;
    border: 1px solid black;
    padding: 10px;
}

.divBackground {
    background-color: white;
    border-radius: 25px;
    border: 1px solid black;

    transition: 0.5s;
    transform: scale(1);
}
.divBackground:hover {
    transition: 0.5s;
    transform: scale(1.1);
    filter: grayscale(100%);
}

input {
    transition: 1s;
    background-color: white;
    color: black;
}

input:hover {
    transition: 1s;
    background-color: black;
    color: white;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px;
    background-color: white;
}

.nameArrange {
    float: left;
    color: black;
}

.eyeContainer {
    display: block;
}

.eyes {
    display: flex;
    width: 48px;
    height: 48px;
    bottom: 41px;
    background: #fff;
    border: 1px solid black;
    border-radius: 50%;
}

.eyeInner {
    position: relative;
    display: inline-block;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    background-color: black;
    border-radius: 50%;
    margin-left: 4px;
}

.eyeInner:after {
    position: absolute;
    top: 2px;
    left: 10px;
    width: 20px;
    height: 20px;
    background: white;
    border-radius: 50%;
    content: ' ';
}


/*ALT EYE FIX*/
.move-area { /*normally use body*/
    position: relative;
    background: none;

}

.container {
    width: 100%;
}

.eye {
    position: relative;
    display: inline-block;
    border-radius: 50%;
    height: 30px;
    width: 30px;
    background: #CCC;
}

    .eye:after { /*pupil*/
        position: absolute;
        bottom: 17px;
        right: 10px;
        width: 10px;
        height: 10px;
        background: #000;
        border-radius: 50%;
        content: " ";
    }
